dest/01_header/_header.html

<!--HEADER-->
<header class="page-header">
	<section class="well0 bg-white">
		<div class="container">
			<div class="header-panel">
				<div class="header-panel__1">
					<div class="header-panel__brand brand"><img class="brand__logo" src="images/logo.png" alt=""/></div>
				</div>
				<div class="header-panel__2">
					<div class="header-panel__filter filter">
						<div class="filter__img"><img src="images/filter.png"/></div>
						<div class="filter__tag">
							<ul class="tag-filter">
								<li class="tag-filter__item filter__item">
									<div class="tag-filter__icon"></div>
									<div class="tag-filter__text" title="Японские автомобили">Японские автомобили</div>
									<div class="tag-filter__close"></div>
								</li>
								<li class="filter__search">
									<div class="marker">
										<div class="marker__icon marker__icon--search"><img src="images/icons/icon-search.png" alt="search"/></div>
										<div class="marker__text">
											<input type="search" placeholder="Найти"/>
										</div>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="header-panel__3">
					<div class="location">
						<div class="location__input">
							<ul class="location__tag tag-location">
								<li class="tag-location__item location__item">
									<div class="tag-location__icon"></div>
									<div class="tag-location__text" title="Северодвинск">Северодвинск</div>
									<div class="tag-location__close"></div>
								</li>
								<li class="location__search">
									<div class="marker">
										<div class="marker__icon marker__icon--location"><img src="images/icons/icon-location.png" alt="location"/></div>
										<div class="marker__text">
											<input type="search" placeholder="Где"/>
										</div>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="header-panel__4"><a class="btn-post" href="#">
						<div class="btn-post__icon btn-post__icon--camera"></div>
						<div class="btn-post__text">Запостить</div></a>
					<div class="auth"><a class="auth__sign-in" href="#">Вход</a>
						<div class="auth__delimetr"></div><a class="auth__registration" href="#">Регистрация</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--//-----Navigation Right-->
	<!--ul.navigation-->
	<!--    -for(var i = 0; i < navigation.length; i++)-->
	<!--        li.navigation__item-->
	<!--            a(href=navigation[i].href).navigation__cnt-->
	<!--                .navigation__icon-->
	<!--                    .navigation__img-wrapper-->
	<!--                        img.navigation__img(src="images/nav-icons/icon-" + navigation[i].img + ".png" alt="")-->
	<!--                .navigation__text !{navigation[i].text}-->
</header>

src/templates/01_header/_header.pug
//HEADER
header.page-header
    section.well0.bg-white
        //-----Container
        .container
            //-----HeaderPanel
            .header-panel
                //-----HeaderPanel part 1
                .header-panel__1
                    .header-panel__brand.brand
                        img(class="brand__logo" src="images/logo.png" alt="")
                //-----HeaderPanel part 2
                .header-panel__2
                    .header-panel__filter.filter
                        .filter__img
                            img(src="images/filter.png")
                        .filter__tag
                            ul.tag-filter
                                li.tag-filter__item.filter__item
                                    .tag-filter__icon
                                    .tag-filter__text(title="Японские автомобили") Японские автомобили
                                    .tag-filter__close
                                li.filter__search
                                    .marker
                                        .marker__icon.marker__icon--search
                                            img(src='images/icons/icon-search.png' alt="search")
                                        .marker__text
                                            input(type="search" placeholder="Найти")

                //-----HeaderPanel part 3
                .header-panel__3
                    .location
                        .location__input
                            ul.location__tag.tag-location
                                li.tag-location__item.location__item
                                    .tag-location__icon
                                    .tag-location__text(title="Северодвинск") Северодвинск
                                    .tag-location__close
                                li.location__search
                                    .marker
                                        .marker__icon.marker__icon--location
                                            img(src='images/icons/icon-location.png' alt="location")
                                        .marker__text
                                            input(type="search" placeholder="Где")


                //-----HeaderPanel part 4
                .header-panel__4
                    a.btn-post(href="#")
                        .btn-post__icon.btn-post__icon--camera
                        .btn-post__text Запостить

                    .auth
                        a.auth__sign-in(href="#") Вход
                        .auth__delimetr
                        a.auth__registration(href="#") Регистрация






    ////-----Navigation Right
    //-var navigation = [{href: '#', img: 'profile', text: 'Мой профиль'}, {href: '#', img: 'dressroom', text: 'Примерочная'}, {href: '#', img: 'myreviews', text: 'Мои обзоры'}, {href: '#', img: 'mycomments', text: 'Мои отзывы'}, {href: '#', img: 'mydrawings', text: 'Мои розыгрыши'}, {href: '#', img: 'liked', text: 'Избранное'}, {href: '#', img: 'massage', text: 'Сообщения'}, {href: '#', img: 'news', text: 'Новости'}, {href: '#', img: 'organizer', text: 'Органайзер'}, {href: '#', img: 'payonline', text: 'Оплата онлайн'}, {href: '#', img: 'myblogs', text: 'Мои блоги,статьи'}, {href: '#', img: 'settings', text: 'Настройки'}];
    //ul.navigation
    //    -for(var i = 0; i < navigation.length; i++)
    //        li.navigation__item
    //            a(href=navigation[i].href).navigation__cnt
    //                .navigation__icon
    //                    .navigation__img-wrapper
    //                        img.navigation__img(src="images/nav-icons/icon-" + navigation[i].img + ".png" alt="")
    //                .navigation__text !{navigation[i].text}
