src/templates/02_main/_main-about_us.pug
//MAIN
main.page-content.bg-white
    //-----Section 1
    section.well__about-us--1
        .container
            //Навигация
            ul.breadcrumbs(xmlns:v="http://rdf.data-vocabulary.org/#")
                li.breadcrumbs__item(typeof="v:Breadcrumb")
                    a.breadcrumbs__link(rel="v:url" property="v:title" href="index.html") Главная
                li.breadcrumbs__item(typeof="v:Breadcrumb")
                    a.breadcrumbs__link(rel="v:url" property="v:title" href="index.html") Магазины
                li.breadcrumbs__item(typeof="v:Breadcrumb")
                    a.breadcrumbs__link.active(rel="v:url" property="v:title" href="articles.html") Marmaletto

    //-----Section 2
    section.well__about-us--2
        .container
            .page-template
                //-----Left part
                .page-template__cnt
                    //-----Structure
                    .card-structure
                        //-----Structure Left | Card ==> Card Banner
                        .card-structure__asside.card
                            .card__img
                                //-----Card Panel (Like + Star)
                                .card__panel.interactive-panel
                                    .interactive-panel__liked
                                    .interactive-panel__favorite
                                //-----Card Rating (need init with js)
                                .rating.news__rating
                                    .rating__stats
                                        .rating__avr-value 4.7
                                        .rating__rev-count
                                            span.rating__count  78
                                            | отзывов
                                    .rating__bars
                                        svg(id="card--rating-bar__" + "magazineNAME")
                                //-----Card img (bg card)
                                img(src="images/shop/shop__img-1.png" alt="")
                                //img(src="http://cdn.dota2.com/apps/dota2/images/blogfiles/blog_wttim.png" alt="")
                            //-----Card Information
                            .card__information.information
                                .information__likes
                                    .information__icon.information__icon_likes
                                    .information__likes-val 4.7
                                .information__comments
                                    .information__icon.information__icon_comments
                                    .information__comments-val 1000K
                                .information__viewers
                                    .information__icon.information__icon_viewers
                                    .information__viewers-val 1000K
                        //-----Structure Content | Card ==> Card Content
                        .card-structure__cnt.card
                            //-----Card Title (with icon)
                            .card__title.card__title--icon Marmaletto<br/>Если будет две строчки
                            //-----Card Recomendate
                            a.card__recomendate(href="#") Рекомендовать страницу  в соцсетях
                            //-----Card Address
                            .card__address
                                span.card__address--title Адрес:
                                | Проспект Константина Константинопольского, д. 666, ТРК “Альтаир”, место&nbsp;001, метро Новокузнецкий&nbsp;Морг, г.&nbsp;Ярославль и возможно еще что-то дикое но&nbsp;обязательное!
                            //-----Card Phones
                            .card__phones
                                span.card__phones--title Телефоны:
                                a.card__phones--link(href="tel:+74570000000") +7 (457) 000-00-00
                                a.card__phones--link(href="tel:+79100000000") +7 910 000-00-00

                                a.card__phones--btn Предложить телефон
                            //-----Card Site
                            .card__site
                                span.card__site--title Сайт:
                                a.card__site--link(href="http://marmaletto.ru" target='_blank') marmaletto.ru

                                .card__social
                                    .social
                                        ul.social__icons
                                            li.social__icon.social__icon--vk
                                                a.social__link(href="#")
                                            li.social__icon.social__icon--fb
                                                a.social__link(href="#")
                                            li.social__icon.social__icon--ok
                                                a.social__link(href="#")
                                            li.social__icon.social__icon--tw
                                                a.social__link(href="#")
                                            li.social__icon.social__icon--inst
                                                a.social__link(href="#")
                            //-----Card Site
                            .card__cateory
                                .card__cateory--title Основные категории:
                                //-var card__items = ['Аксессуары для волос', 'Галстуки', 'Обложки для документов', 'Бижутерия', 'Зонты', 'Очки', 'Брелоки и ключницы', 'Кошельки, портмоне, бумажник', 'more1', 'more2']
                                -var card__items = ['Аксессуары для волос', 'Галстуки', 'Обложки для документов', 'Бижутерия', 'Зонты', 'Очки', 'Брелоки и ключницы', 'Брелоки и ключницы1', 'Брелоки и ключницы', 'Брелоки и ключницы']
                                -var maxVal = 9;
                                -var i = 0;
                                .card__items
                                    if (card__items.length <= maxVal)
                                        -for(i; i < card__items.length; i++)
                                            a.card__cateory-item(href='#') !{card__items[i]}
                                    else
                                        while i < (maxVal - 1)
                                            a.card__cateory-item(href='#')= card__items[i++]
                                        a.card__cateory-item.card__cateory-item--show-all(href='#') Показать все

                //-----Right (asside) part
                .page-template__asside
                    .map
                        .map__yandex(id="map")
                        a.map__link(href="#") Посмотреть на Yandex.Картах

    //-----Section 3
    section.well__about-us--3
        .container
            .page-template
                //-----Left part
                .page-template__cnt
                    //-----Tabs
                    -var tab = [{link: 'О нас', page: 'tab__about-us'}, {link: 'Примерочная', page: 'tab__dressroom'}, {link: 'Товары', page: 'tab__product'}, {link: 'Блоги', page: 'tab__blog'}, {link: 'Акции', page: 'tab__stock'}, {link: 'Купоны', page: 'tab__coupon'}, {link: 'Вакансии', page: 'tab__vacansy'}];
                    .tabs(id="tabs")
                        //-----Tabs Nav
                        .tabs__nav
                            -for (var i = 0; i < tab.length; i++)
                                if (i == 0)
                                    a.tabs__nav-link.tabs__nav-link--active(href="#") !{tab[i].link}
                                else
                                    a.tabs__nav-link(href="#") !{tab[i].link}
                        //-----Tabs Cnt
                        -for (var i = 0; i < tab.length; i++)
                            if (i == 0)
                                .tabs__cnt.tabs__cnt--active
                                    include ../06_ajax/tab__about-us

                            else
                                .tabs__cnt
                                    case tab[i].page
                                        when 'tab__dressroom'
                                            include ../06_ajax/tab__dressroom
                                        when 'tab__product'
                                            include ../06_ajax/tab__product
                                        when 'tab__blog'
                                            include ../06_ajax/tab__blog
                                        when 'tab__stock'
                                            include ../06_ajax/tab__stock
                                        when 'tab__coupon'
                                            include ../06_ajax/tab__coupon
                                        when 'tab__vacansy'
                                            include ../06_ajax/tab__vacansy
                //-----Right (asside) part
                .page-template__asside
                    -for (var i = 0; i < 4; i++)
                        .advertising
                            .advertising__cnt Баннер <br/> 280 x 360

dest/02_main/_main-about_us.html

<!--MAIN-->
<main class="page-content bg-white">
	<section class="well__about-us--1">
		<div class="container">
			<!--Навигация-->
			<ul class="breadcrumbs" xmlns:v="http://rdf.data-vocabulary.org/#">
				<li class="breadcrumbs__item" typeof="v:Breadcrumb"><a class="breadcrumbs__link" rel="v:url" property="v:title" href="index.html">Главная</a></li>
				<li class="breadcrumbs__item" typeof="v:Breadcrumb"><a class="breadcrumbs__link" rel="v:url" property="v:title" href="index.html">Магазины</a></li>
				<li class="breadcrumbs__item" typeof="v:Breadcrumb"><a class="breadcrumbs__link active" rel="v:url" property="v:title" href="articles.html">Marmaletto</a></li>
			</ul>
		</div>
	</section>
	<section class="well__about-us--2">
		<div class="container">
			<div class="page-template">
				<div class="page-template__cnt">
					<div class="card-structure">
						<div class="card-structure__asside card">
							<div class="card__img">
								<div class="card__panel interactive-panel">
									<div class="interactive-panel__liked"></div>
									<div class="interactive-panel__favorite"></div>
								</div>
								<div class="rating news__rating">
									<div class="rating__stats">
										<div class="rating__avr-value">4.7</div>
										<div class="rating__rev-count"><span class="rating__count"> 78</span>отзывов</div>
									</div>
									<div class="rating__bars">
										<svg id="card--rating-bar__magazineNAME"></svg>
									</div>
								</div><img src="images/shop/shop__img-1.png" alt=""/>
								<!--img(src="http://cdn.dota2.com/apps/dota2/images/blogfiles/blog_wttim.png" alt="")-->
							</div>
							<div class="card__information information">
								<div class="information__likes">
									<div class="information__icon information__icon_likes"></div>
									<div class="information__likes-val">4.7</div>
								</div>
								<div class="information__comments">
									<div class="information__icon information__icon_comments"></div>
									<div class="information__comments-val">1000K</div>
								</div>
								<div class="information__viewers">
									<div class="information__icon information__icon_viewers"></div>
									<div class="information__viewers-val">1000K</div>
								</div>
							</div>
						</div>
						<div class="card-structure__cnt card">
							<div class="card__title card__title--icon">Marmaletto<br/>Если будет две строчки</div><a class="card__recomendate" href="#">Рекомендовать страницу  в соцсетях</a>
							<div class="card__address"><span class="card__address--title">Адрес:</span>Проспект Константина Константинопольского, д. 666, ТРК “Альтаир”, место&nbsp;001, метро Новокузнецкий&nbsp;Морг, г.&nbsp;Ярославль и возможно еще что-то дикое но&nbsp;обязательное!</div>
							<div class="card__phones"><span class="card__phones--title">Телефоны:</span><a class="card__phones--link" href="tel:+74570000000">+7 (457) 000-00-00</a><a class="card__phones--link" href="tel:+79100000000">+7 910 000-00-00</a><a class="card__phones--btn">Предложить телефон</a></div>
							<div class="card__site"><span class="card__site--title">Сайт:</span><a class="card__site--link" href="http://marmaletto.ru" target="_blank">marmaletto.ru</a>
								<div class="card__social">
									<div class="social">
										<ul class="social__icons">
											<li class="social__icon social__icon--vk"><a class="social__link" href="#"></a></li>
											<li class="social__icon social__icon--fb"><a class="social__link" href="#"></a></li>
											<li class="social__icon social__icon--ok"><a class="social__link" href="#"></a></li>
											<li class="social__icon social__icon--tw"><a class="social__link" href="#"></a></li>
											<li class="social__icon social__icon--inst"><a class="social__link" href="#"></a></li>
										</ul>
									</div>
								</div>
							</div>
							<div class="card__cateory">
								<div class="card__cateory--title">Основные категории:</div>
								<div class="card__items"><a class="card__cateory-item" href="#">Аксессуары для волос</a><a class="card__cateory-item" href="#">Галстуки</a><a class="card__cateory-item" href="#">Обложки для документов</a><a class="card__cateory-item" href="#">Бижутерия</a><a class="card__cateory-item" href="#">Зонты</a><a class="card__cateory-item" href="#">Очки</a><a class="card__cateory-item" href="#">Брелоки и ключницы</a><a class="card__cateory-item" href="#">Брелоки и ключницы1</a><a class="card__cateory-item card__cateory-item--show-all" href="#">Показать все</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="page-template__asside">
					<div class="map">
						<div class="map__yandex" id="map"></div><a class="map__link" href="#">Посмотреть на Yandex.Картах</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="well__about-us--3">
		<div class="container">
			<div class="page-template">
				<div class="page-template__cnt">
					<div class="tabs" id="tabs">
						<div class="tabs__nav"><a class="tabs__nav-link tabs__nav-link--active" href="#">О нас</a><a class="tabs__nav-link" href="#">Примерочная</a><a class="tabs__nav-link" href="#">Товары</a><a class="tabs__nav-link" href="#">Блоги</a><a class="tabs__nav-link" href="#">Акции</a><a class="tabs__nav-link" href="#">Купоны</a><a class="tabs__nav-link" href="#">Вакансии</a>
						</div>
						<div class="tabs__cnt tabs__cnt--active">
							<!--TAB About Us-->
							<div class="standart-format">
								<h2>О Гостинице</h2>
								<p>Гостиница "Спорт" удобно расположена в тихом уютном месте при въезде в город Ярославль со стороны Москвы, Костромы, Иваново. В шаговой доступности к гостинице расположены СК "Атлант", Ледовый дворец "Арена-2000", парк "Нефтяников", ТРЦ "РИО".</p>
								<p>К Вашим услугам 45 комфортабельных одноместных, двухместных номеров и номера категории "Люкс". Все номера оснащены санузлами, душевыми кабинами или ванными комнатами, фенами, кондиционерами, TV, DVD плеерами,мини-барами, принадлежностями личной гигиены. В гостинице бесплатный WI-FI и автостоянка.</p>
								<div class="tabs tabs--nonflex" id="aboutus_carouselTab">
									<div class="tabs__nav"><a class="tabs__nav-link tabs__nav-link--active" href="#">Фото</a><a class="tabs__nav-link" href="#">Видео</a>
									</div>
									<div class="tabs__cnt tabs__cnt--active">
										<div class="syncCarousel syncCarousel--photo">
											<div class="swiper-container syncCarousel__horizontal">
												<div class="swiper-wrapper">
													<div class="swiper-slide">Slide 1</div>
													<div class="swiper-slide">Slide 2</div>
													<div class="swiper-slide">Slide 3</div>
													<div class="swiper-slide">Slide 4</div>
													<div class="swiper-slide">Slide 5</div>
													<div class="swiper-slide">Slide 6</div>
													<div class="swiper-slide">Slide 7</div>
													<div class="swiper-slide">Slide 8</div>
													<div class="swiper-slide">Slide 9</div>
													<div class="swiper-slide">Slide 10</div>
												</div>
											</div>
											<div class="swiper-container syncCarousel__vertical">
												<div class="swiper-wrapper syncCarousel__wrapper-vertical">
													<div class="swiper-slide">Slide 1</div>
													<div class="swiper-slide">Slide 2</div>
													<div class="swiper-slide">Slide 3</div>
													<div class="swiper-slide">Slide 4</div>
													<div class="swiper-slide">Slide 5</div>
													<div class="swiper-slide">Slide 6</div>
													<div class="swiper-slide">Slide 7</div>
													<div class="swiper-slide">Slide 8</div>
													<div class="swiper-slide">Slide 9</div>
													<div class="swiper-slide">Slide 10</div>
												</div>
												<!--Add Arrows-->
												<div class="syncCarousel__button syncCarousel__button--next"></div>
												<div class="syncCarousel__button syncCarousel__button--prev"></div>
											</div>
										</div>
									</div>
									<div class="tabs__cnt">carousel video</div>
								</div>
								<p>Гостиница "Спорт" удобно расположена в тихом уютном месте при въезде в город Ярославль со стороны Москвы, Костромы, Иваново. В шаговой доступности к гостинице расположены СК "Атлант", Ледовый дворец "Арена-2000", парк "Нефтяников", ТРЦ "РИО".</p>
								<p>К Вашим услугам 45 комфортабельных одноместных, двухместных номеров и номера категории "Люкс". Все номера оснащены санузлами, душевыми кабинами или ванными комнатами, фенами, кондиционерами, TV, DVD плеерами,мини-барами, принадлежностями личной гигиены. В гостинице бесплатный WI-FI и автостоянка.</p>
								<h2>Оставить отзыв о Marmellatio</h2>
								<div class="write-review">
									<div class="write-review__top">
										<div class="write-review__rateit rateit" data-rateit-value="" data-rateit-ispreset="false" data-rateit-readonly="false"></div>
										<div class="write-review__text">Начните ваш отзыв с выставления оценки</div>
									</div>
									<textarea class="write-review__textarea" name="text" placeholder="Текст вашего комментария"></textarea>
									<div class="write-review__bottom"></div>
								</div>
								<div class="comment-wrapp">
									<div class="comment-wrapp__asside"><img class="comment-wrapp__face" src="http://pikchyriki.net/avatar/krutye/80/3.jpg" alt=""/>
										<div class="comment-wrapp__name">Елизавета Константинопольская</div>
										<div class="stock__information information">
											<div class="information__comments">
												<div class="information__icon information__icon_comments"></div>1000K
											</div>
										</div>
									</div>
									<div class="comment-wrapp__cnt">
										<div class="comment-wrapp__top-bar">
											<div class="review__rating">
												<div class="rateit" data-rateit-value="4" data-rateit-ispreset="true" data-rateit-readonly="true"></div>
												<div class="review__pre-rat">
													<time pubdate="pubdate" datetime="2017-12-23T13:05">23 декабря 2017 в 13:05</time>
												</div>
											</div>
										</div>
										<div class="comment-wrapp__middle-comment">К Вашим услугам 45 комфортабельных одноместных, двухместных номеров и номера категории "Люкс". Все номера оснащены санузлами, душевыми кабинами или ванными комнатами, фенами, кондиционерами, TV, DVD плеерами,мини-барами, принадлежностями личной гигиены. В гостинице бесплатный WI-FI и автостоянка.<a class="comment-wrapp__more" href=""><span>Показать полностью</span></a></div>
										<div class="comment-wrapp__bottom-bar">
											<div class="stock__information information">
												<div class="information__thumbsUp">
													<div class="information__icon information__icon_thumbsUp"></div>
													<div class="information__thumbsUp-val">Полезно (1000К)</div>
												</div>
												<div class="information__commentsO">
													<div class="information__icon information__icon_commentsO"></div>
													<div class="information__commentsO-val">Ответить</div>
												</div>
												<div class="information__share">
													<div class="information__icon information__icon_share"></div>
													<div class="information__share-val">Поделится (1000К)</div>
												</div>
											</div>
										</div>
										<div class="comment-wrapp__review-section">
											<textarea class="write-review__textarea" name="text" placeholder="Ваш ответ"></textarea>
										</div>
									</div>
								</div>
								<div class="comment-wrapp">
									<div class="comment-wrapp__asside"><img class="comment-wrapp__face" src="http://pikchyriki.net/avatar/krutye/80/3.jpg" alt=""/>
										<div class="comment-wrapp__name">Елизавета Константинопольская</div>
										<div class="stock__information information">
											<div class="information__comments">
												<div class="information__icon information__icon_comments"></div>1000K
											</div>
										</div>
									</div>
									<div class="comment-wrapp__cnt">
										<div class="comment-wrapp__top-bar">
											<div class="review__rating">
												<div class="rateit" data-rateit-value="4" data-rateit-ispreset="true" data-rateit-readonly="true"></div>
												<div class="review__pre-rat">
													<time pubdate="pubdate" datetime="2017-12-23T13:05">23 декабря 2017 в 13:05</time>
												</div>
											</div>
										</div>
										<div class="comment-wrapp__middle-comment">К Вашим услугам 45 комфортабельных одноместных, двухместных номеров и номера категории "Люкс". Все номера оснащены санузлами, душевыми кабинами или ванными комнатами, фенами, кондиционерами, TV, DVD плеерами,мини-барами, принадлежностями личной гигиены. В гостинице бесплатный WI-FI и автостоянка.</div>
										<ul class="comment-wrapp__galery">
											<li class="comment-wrapp__galery-item"><img class="comment-wrapp__galery-img"/></li>
											<li class="comment-wrapp__galery-item"><img class="comment-wrapp__galery-img"/></li>
											<li class="comment-wrapp__galery-item"><img class="comment-wrapp__galery-img"/></li>
										</ul>
										<div class="comment-wrapp__bottom-bar">
											<div class="stock__information information">
												<div class="information__thumbsUp">
													<div class="information__icon information__icon_thumbsUp"></div>
													<div class="information__thumbsUp-val">Полезно (1000К)</div>
												</div>
												<div class="information__commentsO">
													<div class="information__icon information__icon_commentsO"></div>
													<div class="information__commentsO-val">Ответить</div>
												</div>
												<div class="information__share">
													<div class="information__icon information__icon_share"></div>
													<div class="information__share-val">Поделится (1000К)</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="comment-wrapp">
									<div class="comment-wrapp__asside"></div>
									<div class="comment-wrapp__cnt">
										<div class="comment-wrapp__answer">
											<div class="comment-wrapp__answer-asside"></div>
											<div class="comment-wrapp__answer-cnt">
												<div class="comment-wrapp__middle-comment">К Вашим услугам 45 комфортабельных одноместных, двухместных номеров и номера категории "Люкс". Все номера оснащены санузлами, душевыми кабинами или ванными комнатами, фенами, кондиционерами, TV, DVD плеерами,мини-барами, принадлежностями личной гигиены. В гостинице бесплатный WI-FI и автостоянка.</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="tabs__cnt">
							<h4>dressroom</h4>
						</div>
						<div class="tabs__cnt">
							<h4>product</h4>
						</div>
						<div class="tabs__cnt">
							<h4>blog</h4>
						</div>
						<div class="tabs__cnt">
							<h4>stock</h4>
						</div>
						<div class="tabs__cnt">
							<h4>coupon</h4>
						</div>
						<div class="tabs__cnt">
							<h4>vacansy</h4>
						</div>
					</div>
				</div>
				<div class="page-template__asside">
					<div class="advertising">
						<div class="advertising__cnt">Баннер <br/> 280 x 360</div>
					</div>
					<div class="advertising">
						<div class="advertising__cnt">Баннер <br/> 280 x 360</div>
					</div>
					<div class="advertising">
						<div class="advertising__cnt">Баннер <br/> 280 x 360</div>
					</div>
					<div class="advertising">
						<div class="advertising__cnt">Баннер <br/> 280 x 360</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</main>
