dest/03_footer/_footer.html

<!--FOOTER-->
<footer class="page-footer">
	<section class="well-footer bg-white">
		<div class="container">
			<div class="footer-panel">
				<div class="footer-panel__1">
					<div class="brand"><img class="brand__logo" src="images/logo.png" alt=""/></div>
				</div>
				<div class="footer-panel__2">
					<div class="about-us">
						<ul class="about-us__list">
							<li><a href="#">Наши контакты</a></li>
							<li><a href="#">Помощь</a></li>
							<li><a href="#">Правила и положения</a></li>
							<li><a href="#">Приложения</a></li>
							<li><a href="#">Сотрудничество</a></li>
							<li><a href="#">О нас</a></li>
						</ul><a class="btn-icon about-us__btn" href="#">
							<div class="btn-icon__icon"></div>О Нас</a>
					</div>
					<div class="social">
						<div class="social__text">Присоединяйтесь к нам:</div>
						<ul class="social__icons">
							<li class="social__icon social__icon--vk"><a class="social__link" href="#"></a></li>
							<li class="social__icon social__icon--fb"><a class="social__link" href="#"></a></li>
							<li class="social__icon social__icon--ok"><a class="social__link" href="#"></a></li>
							<li class="social__icon social__icon--tw"><a class="social__link" href="#"></a></li>
							<li class="social__icon social__icon--inst"><a class="social__link" href="#"></a></li>
						</ul>
					</div>
				</div>
				<div class="footer-panel__3">
					<div class="btn-group"><a class="btn-post btn-group__item" href="#">
							<div class="btn-post__icon btn-post__icon--camera"></div>
							<div class="btn-post__text">Запостить</div></a><a class="btn-icon btn-group__item" href="#">
							<div class="btn-icon__icon"></div>Добавить</a></div>
				</div>
			</div>
		</div>
	</section>
</footer>

src/templates/03_footer/_footer.pug
//FOOTER
footer.page-footer
    section.well-footer.bg-white
        .container
            .footer-panel
                .footer-panel__1
                    .brand
                        img.brand__logo(src="images/logo.png" alt="")
                .footer-panel__2
                    .about-us
                        -var aboutus__list = ["Наши контакты", "Помощь", "Правила и положения", "Приложения", "Сотрудничество", "О нас"];
                            ul.about-us__list
                                -for(var i = 0; i < aboutus__list.length; i++)
                                    li
                                        a(href="#") !{aboutus__list[i]}
                        a.btn-icon.about-us__btn(href="#")
                            .btn-icon__icon
                            | О Нас

                    .social
                        .social__text Присоединяйтесь к нам:
                        ul.social__icons
                            li.social__icon.social__icon--vk
                                a.social__link(href="#")
                            li.social__icon.social__icon--fb
                                a.social__link(href="#")
                            li.social__icon.social__icon--ok
                                a.social__link(href="#")
                            li.social__icon.social__icon--tw
                                a.social__link(href="#")
                            li.social__icon.social__icon--inst
                                a.social__link(href="#")
                .footer-panel__3
                    .btn-group
                        a.btn-post.btn-group__item(href="#")
                            .btn-post__icon.btn-post__icon--camera
                            .btn-post__text Запостить
                        a.btn-icon.btn-group__item(href="#")
                            .btn-icon__icon
                            | Добавить
